<h1>Weather update for {{city}}</h1>
<p>The temperature is {{temperature}}°C and the humidity is {{humidity}}%.</p>
<p>The weather can be described as {{description}}.</p>
<p>To unsubscribe from this email, please click
  <a href='{{unsubscribeUrl}}'>here</a>.</p>